
    <td>
    <h2><%= customer.full_name %></h2>
    <%= image_tag customer.image, :width => '150' %></br>
    <%= customer.phone_number %></br>
    <%= customer.email_address %></br>
    <%= customer.notes %></br>
    </td>
