<section class="customer">
  <h3><%= customer.full_name %></h3>
  
  <p><%= image_tag customer.image %></p>
  
  <div><%= customer.phone_number %></div>
  
  <div><%= customer.email_address %></div>
  
  <div><%= customer.notes %></div>
  
</section>